# Banco de dados - Docker/Postgres
DATABASE_URL="postgresql://admin:gestasus_password@localhost:5432/gestasus_db?schema=public"

# Secret para assinar tokens JWT
JWT_SECRET="sua_chave_secreta_aqui"

# Configurações do RabbitMQ
RABBITMQ_HOST=SEU.IP
RABBITMQ_PORT=5672
RABBITMQ_USER=SEU_USER
RABBITMQ_PASSWORD=SUA_SENHA
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=SUA.FILA